$font: purple;
$bg: skyblue;
.font {
  font-size: 16px;
  color: $font;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  background-color: $bg;
}
@import "test";
